@charset "UTF-8";
/* CSS Document */

body {
	background-color:#F2EDE9;
	font-family: 'Rye', cursive;
}

body h5, .header {
	font-family: 'Fredericka the Great', cursive;;
}
body p, .shipping {
	font-family: 'Quicksand', sans-serif;
}

nav li {
	font-size: 12pt;}

.navbar-text {
	font-size: 20pt;
}

main{
	padding-top:100px;
}
.navbar {
	padding: .1rem 1rem!important;
}
nav .navbar-brand img {
			  max-width:45px;

		  }

section.jumbotron {
	background-size:cover;
	background-position:center;
}

card {
	padding: 0;
	margin: 1rem;
}

.row-cols-md-2 > * {
	flex: 0 0 46%;
}

nav ul {
	font-size: 30px;
	list-style: none;
	padding:0px;
}


nav ul li {
	display: inline-block
}

.bg-danger {
	background-color: #000!important;
}

.btn {
	background-color: black;
}

.btn:hover {
	background-color: #1C1C1C;
}
.btn span {
	 cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
	
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}